.button {
    width: 70px;
    height: 30px;
    color: white;
    background-color: rgb(51, 53, 51);
    border-radius: 10px;
    border: none;
    transition: color 1s, background-color 1s;
    cursor: pointer;
    margin-right: 50px;
  }
  .button:hover {
    color: black;
    background-color: white;
  }
